<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top</title>
  </head>

  <body>
    <div class="top-image">
      <img src="/assets/login-image.jpg">
      <p>写真投稿アプリ</p>
    </div>
  
    <div class="about">
      <h1>写真投稿アプリについて</h1><br>
      <p>写真投稿アプリは、写真・画像と文章を投稿できるアプリです。<br>
　　  </p>
    </div>
    
    <div class="container">
      <div class="row">
          <h4 class="col-xs-offset-2 col-xs-8 
                     col-md-offset-2 col-md-3"><%= link_to '写真一覧', pictures_path %></h4>
          <h4 class="col-xs-offset-2 col-xs-8
                     col-md-offset-2 col-md-3"><%= link_to '新規投稿', new_picture_path %></h4>
      </div>
　　</div>

  </body>
</html>