.title h1 {
  margin-top:10px;
  text-align : center ;
}


.field { 
  text-align : left ;
}


.title{
    margin: 1em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}


.table {
  margin: auto;
}
